<!-- Footer -->
<footer class="bg-dark text-center text-white rounded-top">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-5">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin"></i
        ></a>
  
    
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Text -->
      <section class="mb-5">
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
         
          <!--Grid column-->
          <div class="col-lg-4 col-md-4 mb-5 mb-md-0">
            <h5 class="text-uppercase mb-2">Quick Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/" class="text-white">Home</a>
              </li>
              <li>
                <a href="/index#about" class="text-white">About Us</a>
              </li>
              <li>
                <a href="/index/#contact-us" class="text-white">Contact Us</a>
              </li>
              <li>
                <a href="/categories" class="text-white">Categories</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-4 mb-5 mb-md-0">
            <h5 class="text-uppercase mb-2">Help Support</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">FAQ's</a>
              </li>
              <li>
                <a href="#!" class="text-white">Term and Conditions</a>
              </li>
              <li>
                <a href="#!" class="text-white">Contact Forum</a>
              </li>
              <li>
                <a href="#!" class="text-white">Refund Policy</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-4 mb-5 mb-md-0">
            <h5 class="text-uppercase mb-2">Get In Touch</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">+92-33x234x44x</a>
              </li>
              <li>
                <a href="mailto:" class="text-white">abc2022@gmail.com</a>
              </li>
              <li>
                <a href="#!" class="text-white">Hangu Campus Near to Qazi filling station.</a>
              </li>
              <li>
                <a href="#!" class="text-white">+92-33x234x44x</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="/index">Rent A Car</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<!-- jQuery -->

<script src="/public/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="/public/js/popper.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

<!-- plugins -->
<script src="/public/js/owl-carousel.js"></script>
<script src="/public/js/scrollreveal.min.js"></script>

<!-- Global Init -->
<script src="/public/js/custom.js"></script>
<script src="/public/js/emailValidation.js"></script>
<script src="/public/js/phoneNumberValidation.js"></script>
<script src="/public/js/passwordValidation.js"></script>

<script src="/public/js/modals.js"></script>
<script src="/public/js/btnLoading.js"></script>
<script src="/public/js/cnicValidation.js"></script>
<script src="/public/js/showingCarInternalImages.js"></script>

</body>
</html>