<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">

<style>
  span.loadingSpan{
    background-color: aliceblue;
    transition: all 0.5s;  
}
</style>

<div class="container w-50 mt-5 pt-5">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h3>Reset Password Portal</h3>
        <span class="closeModal">&times;</span>
      </div>
    </div>
    <div class="card-body">
      <form action="/verifyPasswordToken" method="post">

        <!-- Make a dummy input for recieving token (passwordResetToken) -->
        <input type="text" value="<%-sentToken%>" name="token" hidden>
       <div class="row w-100">
          <div class="col-md-6">
            <div class="form-group">
              <label for="password">Password</label>
              <input required type="password" class="form-control password inputField" name="password">
              <span onclick="togglePassVisibility()" class="btn btn-secondary btn-sm mt-2 toggleBtn">Show</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="repeatPassword">Confirm Password</label>
              <input required type="password" class="form-control repeatPassword inputField">
              <small class="repeatPasswordError form-text"></small>
            </div>
          </div>
        </div>

          <div class="col-md-12">
            <button type="submit" class="form-submit btn btn-primary btn-block" 
            disabled="true" id="btn">
              <span id="btnText">Reset Password</span> 
              <span id="span1" class="loadingSpan  ml-2" ></span> 
              <span id="span2" class="loadingSpan ml-1" ></span> 
              <span id="span3" class="loadingSpan ml-1" ></span>
            </button>
          </div>
      </form>
    </div>
  </div>
</div> 
<!--container end.//-->
    <!-- ***** Footer below ***** -->
    <%- include('./partials/footer.ejs') %>